body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    width: 80%;
    max-width: 900px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.boykot-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.boykot-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.boykot-info {
    display: flex;
    align-items: center;
}

.boykot-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.boykot-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    padding: 12px 25px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.like {
    background-color: #4CAF50;
    color: white;
}

.like:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.dislike {
    background-color: #f44336;
    color: white;
}

.dislike:hover {
    background-color: #e53935;
    transform: scale(1.1);
}

.add-form input,
.add-form button {
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-btn {
    background-color: #007BFF;
    color: white;
}

.submit-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.add-form {
    margin-bottom: 30px;
}
